*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Playfair Display";
    text-decoration: none;
    list-style: none;
}

html{
    font-size: 60.3%;
}

body{
    width: 100%;
    background-color: var(--black-color);
    color: var(--white-color);
}

/* Menu Destop */
.menu-desktop{
    width: 100%;
    padding: 1rem 10rem;
    position: fixed;
    top: 0.1vh;
    background-color: #ffffff00;
    backdrop-filter: blur(10px);
    z-index: 1000;
}

.menu-desktop .nav-list .nav-item{
    display: inline-block;
    margin-right: 2rem;
    font-size: var(--small-sz);
}

.nav-item a{
    transition: all 5s ease-in-out;
    color: var(--white-color);
}

.nav-item a:hover{
    color: var(--second-color);
}

/* Hero Section */

.hero-section{
    background-image:linear-gradient( #ca3210a2, #ca321067), url('/assets/img/photos/IMG_2268.JPG');
    background-size: cover;
    background-attachment: fixed;
    gap: 1.6rem;
}

/* Lançamentos */
.lancamentos{
    gap: 2.4rem;
    background-image:linear-gradient( #ca3210, #000000)
}

.carroucel .icon.navgator{
    color: var(--second-color);
    font-size: 3rem;
}

.lancamentos-cards{
    width: 90%;
    gap: 2.4rem;
}

.lancamentos-cards .card:hover>.link{
    color: var(--primary-color);
    transition: 0.5s;
}

.lancamentos-cards .card:nth-child(1){
    background-image: url('/assets/img/musics/Unfollow.gif');
    background-size: cover;
}

.lancamentos-cards .card:nth-child(2){
    background-image: url('/assets/img/musics/Toit-Et-Moi.gif');
    background-size: cover;
}

.lancamentos-cards .card:nth-child(3){
    background-image: url('/assets/img/musics/Weya.gif');
    background-size: cover;
}